$textColor: #2A3240;
$nameColor: #666666;
$uniqueColor: #212EB4;

/*
  FONT WEIGHT TABLE

  100: Thin (Hairline)
  200: Extra Light (Ultra Light)
  300: Light
  400: Regular
  500: Medium
  600: Semi Bold (Demi Bold)
  700: Bold
  800: Extra Bold (Ultra Bold)
  900: Black (Heavy)
 */

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("opentype")
}
@font-face {
  font-family: "Ubuntu Bold";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("opentype")
}
@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("opentype")
}

@mixin font($color, $size, $height, $weight, $family) {
  font-size: $size;
  color: $color;
  line-height: $height;
  font-weight: $weight;
  font-family: $family;
}

.cubes-img_box {
  font-size: 0;
  img {
    width: 100%;
  }
}

.cubes-section_box {
  max-width: 1678px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.cubes-description {
  &__name {
    @include font($nameColor, 18px, 27px, 500, "Ubuntu Medium");
    &_light {
      color: #C0C0C0;
    }
  }
  &__heading {
    @include font($uniqueColor, 36px, 34px, 700, "Ubuntu Bold");
    margin: 61px 0 21px;
    &_light {
      @include font(#fff, 34px, 51px, 700, "Ubuntu Bold");
      letter-spacing: -0.01em;

      margin: 50px 0 13px;
    }
  }
  &__text {
    @include font($textColor, 18px, 27px, 400, "Ubuntu");
    margin: 0;
    &_light {
      color: #fff;
    }
  }
}

.cubes-button {
  @include font($uniqueColor, 18px, 30px, 500, "Ubuntu Medium");
  padding: 22px 88px;
  background: none;
  border: 1px solid $uniqueColor;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background: $uniqueColor;
    color: #fff;
    transition: 0.7s;
  }
}

body {
  margin: 0;
}

.cubes-wrapper {
  background: linear-gradient(91deg, #FFD7F4 3.92%, #D1E2FF 87.51%);
  min-height: 100vh;
  overflow: hidden;
}

.cubes-header {
  position: relative;
  height: 42.1vw;
  &__image {
    position: absolute;
    top: 0.4%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    &_mini {
      display: none;
    }
    &_laptop {
      display: none;
    }
  }

  &__cube {
    position: absolute;
    z-index: 10;
    &_left {
      top: 6%;
      left: -5%;
    }
    &_right {
      top: 25%;
      right: -3%;
    }
  }
}

.cubes-about {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  padding: 93px 0 83px;
  &__box {
    position: relative;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;

  }

  &__figures {
    position: relative;
    max-width: 833px;
    width: 100%;
    min-height: 335px;
    margin: 0 auto;
  }
  &__image {
    width: 1455px;
    position: absolute;
    top: 9%;
    right: -42%;
    z-index: 10;
    &_mini {
      display: none;
    }
    &_laptop {
      display: none;
    }
  }
  &__cube {
    position: absolute;
    z-index: 15;
    &_left {
      top: 40%;
      right: 70%;
      z-index: 5;
    }
    &_middle {
      top: 21%;
      right: 29%;
    }
    &_right {
      top: 35%;
      right: -16%;
    }
  }

  &__description {
    max-width: 785px;
    width: 100%;
  }
  &__list {
    margin: 29px 0 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    @include font($textColor, 18px, 21px, 400, "Ubuntu");
    margin: 16px 0;
    padding-left: 25px;

    position: relative;
    &::before {
      content: "";

      display: block;
      width: 5px;
      height: 5px;
      border: 5px solid $uniqueColor;
      border-radius: 50%;

      position: absolute;
      top: 16%;
      left: 0;
    }
  }
}

.cubes-interface {
  padding: 104px 0 250px;
  background: linear-gradient(180deg, #FFFFFF 72.15%, #0A0623 100%);
  &__description {
    max-width: 821px;
    width: 100%;
  }
}

.cubes-fonts {
  background: url("../assets/images/png/FontsBackground.png") no-repeat 50% 50%/cover;
  padding: 0;

  &__gallery {
    position: relative;
    z-index: 0;

    transform: translateY(-26%);
    margin-top: -15px;
  }
  &__hand {
    position: absolute;
    top: -36%;
    right: -1%;
    z-index: -1;
    &_finger {
      z-index: 1;
    }
  }

  &__carousel {
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  &__element {
    margin: 0 8px;
  }
  &__screen {
    max-width: 236px;
    width: 100%;
  }

  &__box {
    position: relative;

    max-width: 1751px;
    width: 100%;
    margin: 0 54px 0 auto;
    padding: 0 35px;
    box-sizing: border-box;
  }
  &__description {
    max-width: 910px;
    width: 100%;
  }

  &__example {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 33px 0 0;
  }
  &__font {
    @include font(#fff, 68px, 78px, 700, "Ubuntu Bold");

    max-width: 780px;
    width: 100%;
    position: relative;
    z-index: 0;
    &::before {
      content: "";

      background: url("../assets/images/svg/FontImage.svg") no-repeat 50% 50%;
      width: 579px;
      height: 341px;

      position: absolute;
      top: -56%;
      left: -43.4%;
      z-index: -1;
    }
  }

  &__colors {
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    max-width: 831px;
    width: 100%;
    transform: translateY(3%);
  }
  &__color {
    max-width: 168px;
    width: 100%;
    margin: 0 21px;
    transform: translateY(50%);

    box-shadow: -4px 31px 40px rgba(26, 26, 33, 0.3);
    border-radius: 3px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__animate {
    transform: translateY(0%);
    transition: 3s;
    &:nth-child(2) {
      transition: 4s;
    }
    &:nth-child(3) {
      transition: 5s;
    }
    &:nth-child(4) {
      transition: 6s;
    }
  }

  &__cube {
    position: absolute;
    z-index: 10;
    &_left {
      width: 5.938vw;
      top: -8%;
      left: -3%;
    }
    &_middle {
      width: 6.406vw;
      top: 37%;
      right: 51%;
    }
    &_back {
      width: 5.208vw;
      top: 5%;
      right: 38%;
    }
    &_right {
      width: 3.229vw;
      top: 34%;
      right: 0%;
    }
  }
}

.cubes-capabilities {
  background: #fff;
  padding: 110px 0;
  position: relative;
  z-index: 0;
  &__description {
    max-width: 1024px;
    width: 100%;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1390px;
    width: 100%;
    margin: 335px auto 0;
    padding: 0 100px 240px;
    box-sizing: border-box;
  }
  &__item {
    position: relative;
    &:nth-child(2n) {
      .cubes-capabilities {
        &__drop {
          top: auto;
          bottom: -100%;
          transform: translate(50%, 51%);
        }
        &__data {
          border: none;
          border-top: 1px solid $uniqueColor;
          &::after {
            top: -46px;
            right: 50%;
            bottom: auto;
            transform: translateX(-50%);
          }
        }
      }
    }
    &:nth-child(4) {
      .cubes-capabilities__info {
        width: max-content;
        max-width: 284px;
      }
    }
  }
  &__drop {
    position: absolute;
    top: -100%;
    right: 50%;
    transform: translate(50%, -47%);
  }
  &__data {
    position: relative;

    display: flex;
    align-items: center;
    padding: 14px 0px;
    border-bottom: 1px solid $uniqueColor;
    font-size: 0;
    &::after {
      content: "";

      position: absolute;
      bottom: -46px;
      right: 50%;
      transform: translateX(-50%);

      display: block;
      width: 1px;
      height: 46px;
      margin: 0 auto;
      background: $uniqueColor;
    }
  }

  &__num {
    @include font($uniqueColor, 104px, 104px, 900, "Ubuntu");
    letter-spacing: -0.5rem;
    flex-shrink: 0;
  }
  &__info {
    margin-left: 15px;
  }
  &__title {
    @include font($textColor, 20px, 30px, 500, "Ubuntu Medium");
    margin: 0;
    max-width: 271px;
    width: max-content;
  }
  &__text {
    @include font($textColor, 16px, 24px, 400, "Ubuntu");
    margin-top: 7px;
  }

  &__image {
    max-width: 153px;
    filter: drop-shadow(-4px 31px 40px rgba(26, 26, 33, 0.3));
    img {
      width: auto;
    }
  }
}

.cubes-skin {
  position: relative;
  padding: 145px 0 176px;
  mix-blend-mode: normal;
  backdrop-filter: blur(15px);
  &::before {
    content: "";

    background: url("../assets/images/png/SkinGrid.png") no-repeat 50% 50%/cover;
    width: 429px;
    height: 224px;

    position: absolute;
    top: 12%;
    left: 0;
  }
  &__box {
    max-width: 1690px;
    padding: 0 35px;
    box-sizing: border-box;
  }
  .cubes-description__text {
    max-width: 783px;
    width: 100%;
  }
  &__table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 89px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 13px 0;
    border: 1px solid #B1BDD6;
    max-width: 270px;
    width: 100%;
    max-height: 149px;
    margin: -1px;
  }
}

.cubes-technologies {
  background: url("../assets/images/png/TechnologiesBackground.png") no-repeat 50% 50%/cover;
  padding: 130px 0 97px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &__description {
    max-width: 781px;
  }
  &__image {
    position: relative;
    max-width: 846px;
    width: 100%;
    margin: 21px auto 0;
    transform: translateX(-4%);
  }
  &__cube {
    position: absolute;
    z-index: 10;
    &_left {
      width: 162px;
      top: 41%;
      left: -19%;
      z-index: -1;
    }
    &_center {
      width: 213px;
      top: 61%;
      right: 76%;
    }
    &_back {
      width: 161px;
      top: -5%;
      right: -18%;
    }
    &_right {
      width: 350px;
      top: -27%;
      right: -79%;
      z-index: -1;
    }
  }
}

.cubes-reviews {
  padding: 164px 0 170px;
  &__description {
    max-width: 1013px;
    width: 100%;
    position: relative;
  }
  &__image {
    max-width: 796px;
    width: 100%;

    position: absolute;
    top: -92%;
    right: -70%;
  }
}

.cubes-footer {
  padding: 113px 0;
  background: #FFFFFF;
  &__box {
    max-width: 1665px;
  }
  &__description {
    max-width: 1013px;
    width: 100%;
    position: relative;
  }
  .cubes-description__heading {
    margin: 62px 0 21px;
  }
  &__contacts {
    margin: 56px 0 35px;
  }
  &__link {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    margin-right: 91px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 47px;
    margin-right: 21px;
  }
  &__address {
    @include font($uniqueColor, 24px, 40px, 500, "Ubuntu Medium");
    vertical-align: middle;
  }

  &__cube {
    position: absolute;
    z-index: 10;
    &_top {
      top: -56%;
      right: -40%;
    }
    &_middle {
      top: -6%;
      right: -25%;
    }
    &_back {
      top: 17%;
      right: -40%;
    }
    &_bottom {
      top: 47%;
      right: -57%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .cubes-section_box {
    max-width: 720px;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .cubes-description {
    &__name {
      font-size: 16px;
      line-height: 24px;
    }
    &__heading {
      font-size: 24px;
      line-height: 36px;
      margin: 30px 0 10px;
      &_light {
        font-size: 24px;
        line-height: 36px;

        margin: 30px 0 10px;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .cubes-button {
    font-size: 17px;
    line-height: 27px;
    padding: 13px 71px;
    &:hover {
      background: none;
      color: $uniqueColor;
    }
  }

  .cubes-header {
    height: 57.1vw;
    &__image {
      display: none;
      &_laptop {
        display: block;
        top: 0.1%;
      }
    }

    &__cube {
      position: absolute;
      z-index: 10;
      &_left {
        width: 93px;
        top: 10%;
        left: -5%;
      }
      &_right {
        width: 68px;
        top: 20%;
        right: -2%;
      }
    }
  }

  .cubes-about {
    padding: 65px 0 10px;
    &__figures {
      max-width: 833px;
      width: 100%;
      min-height: 220px;
      margin: 70px auto 0;
    }
    &__image {
      display: none;
      &_laptop {
        display: block;
        width: 974px;
        transform: translateX(-29.9%);
        top: -7%;
        right: -17%;

        position: inherit;
      }
    }
    &__cube {
      display: none;
    }

    &__item {
      font-size: 16px;
      line-height: 18px;
      margin: 20px 0;
    }
  }

  .cubes-interface {
    padding: 65px 0 243px;
    background: linear-gradient(180deg, #FFFFFF 72.15%, #0A0623 100%);
    &__description {
      max-width: inherit;
    }
  }

  .cubes-fonts {
    padding: 1px 0 0;

    &__gallery {
      transform: translateY(-21%);
      margin-top: -69px;
    }
    &__hand {
      width: 223px;
      position: absolute;
      top: -35%;
      right: 0%;
      z-index: -1;
      &_finger {
        width: 127px;
        z-index: 1;
      }
    }

    &__carousel {
      padding: 0;
      margin: 0;
      font-size: 0;
    }
    &__element {
      margin: 0 5px;
    }
    &__screen {
      width: 100%;
      max-width: 136px;
    }

    &__box {
      max-width: 720px;
      margin: 0 auto 0;
      padding: 0 20px 0 30px;
    }

    &__example {
      display: block;

      margin: 0;
    }
    &__font {
      font-size: 36px;
      line-height: 41px;

      max-width: inherit;
      margin-top: 66px;
      &::before {
        top: 17%;
        left: -37%;
      }
    }

    &__colors {
      max-width: 390px;
      margin: 62px 0 0 auto;
      transform: translateY(9%);
    }
    &__color {
      max-width: 77px;
      margin: 0 10px;

    }

    &__cube {
      &_left {
        width: 6.250vw;
        top: -15px;
        left: -4%;
      }
      &_middle {
        width: 7.422vw;
        top: 38%;
        right: 51%
      }
      &_back {
        width: 5.990vw;
        top: 6%;
        right: 38%;
      }
      &_right {
        width: 5.990vw;
        top: 34%;
        right: 0;
      }
    }
  }

  .cubes-capabilities {
    background: linear-gradient(91deg, #FFD7F4 3.92%, #D1E2FF 87.51%);
    padding: 94px 0 85px;
    &__description {
      max-width: 1024px;
      width: 100%;
    }

    &__cards {
      max-width: inherit;
      margin: 163px auto 0;
      padding: 0 64px 85px;
    }
    &__item {
      &:nth-child(2n) {
        .cubes-capabilities {
          &__drop {
            bottom: -100%;
            transform: translate(50%, 39%);
          }
          &__data {
            &::after {
              top: -21px;
            }
          }
        }
      }
      &:nth-child(4) {
        .cubes-capabilities__info {
          width: max-content;
          max-width: 163px;
        }
      }
    }
    &__drop {
      top: -100%;
      transform: translate(50%, -40%);
    }
    &__data {
      padding: 10px 0px;
      &::after {
        bottom: -21px;
        height: 21px;
      }
    }

    &__num {
      font-size: 52px;
      line-height: 52px;
      letter-spacing: 0rem;
    }
    &__info {
      margin-left: 5px;
    }
    &__title {
      font-size: 12px;
      line-height: 18px;
      max-width: 163px;
    }
    &__text {
      font-size: 10px;
      line-height: 15px;
      margin-top: 2px;
    }

    &__image {
      max-width: 70px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  .cubes-skin {
    position: relative;
    padding: 60px 0 68px;
    background: linear-gradient(61.39deg, #FFD7F4 3.92%, #D1E2FF 87.51%), #EADDF9;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    &::before {
      width: 229px;
      height: 126px;

      top: 28%;
    }
    .cubes-description__text {
      max-width: inherit;
    }
    &__table {
      margin-top: 67px;
    }
    &__item {
      padding: 13px 0;
      max-width: 110px;
      width: 100%;
      max-height: 45px;
    }
    &__image {
      max-width: 78px;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  .cubes-technologies {
    padding: 65px 0 35px;
    z-index: 0;
    &__image {
      max-width: 500px;
      width: 100%;
      margin: 65px auto 0;
    }
    &__cube {
      &_left {
        width: 123px;
        top: 3%;
        left: -35%;
        z-index: 1;
      }
      &_center {
        width: 101px;
        top: 65%;
        right: 74%;
      }
      &_back {
        display: none;
      }
      &_right {
        width: 71px;
        top: -63%;
        right: -36%;
      }
    }
  }

  .cubes-reviews {
    padding: 65px 0 75px;
    &__description {
      max-width: inherit;
    }
    &__image {
      display: none;
    }
  }

  .cubes-footer {
    padding: 64px 0 64px;
    &__cube {
      &_top {
        width: 184px;
        top: 3%;
        right: -54%;
      }
      &_middle {
        width: 170px;
        top: 37%;
        right: -31%;
      }
      &_back {
        width: 112px;
        top: 50%;
        right: -53%;
      }
      &_bottom {
        width: 434px;
        top: 70%;
        right: -74%;
      }
    }
    &__description {
      max-width: 444px;
    }
    .cubes-description__heading {
      margin: 32px 0 31px;
    }
    &__contacts {
      margin: 30px 0 30px;
    }
    &__link {
      margin-right: 61px;
    }
    &__icon {
      width: 35px;
      margin-right: 15px;
    }
    &__address {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 425px) {
  .cubes-section_box {
    max-width: 1618px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .cubes-description {
    &__name {
      font-size: 14px;
      line-height: 21px;
    }
    &__heading {
      font-size: 18px;
      line-height: 25px;

      margin: 29px 0 14px;
      &_light {
        font-size: 18px;
        line-height: 27px;

        margin: 29px 0 11px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .cubes-button {
    font-size: 15px;
    line-height: 16px;
    padding: 18px 0;
    text-align: center;
    width: 100%;
  }

  body {
    margin: 0;
  }

  .cubes-header {
    height: 69.1vw;
    &__image {
      display: none;
      &_mini {
        display: block;
        top: -86%;
        right: -78%;
        bottom: 0;
        left: -82%;
      }
    }
    &__cube {
      display: none;
    }
  }

  .cubes-about {
    padding: 62px 15px 40px;
    &__figures {
      max-width: 290px;
      min-height: 140px;
      margin: 0 auto 0;
    }
    &__image {
      display: none;
      img {
        width: 100%;
      }
      &_mini {
        display: block;
        width: 620px;
        top: auto;
        bottom: -36%;
        left: -62%;
      }
      &_laptop {
        display: none;
      }
    }

    &__description {
      max-width: inherit;
    }
    &__list {
      margin: 29px 0 0;
    }
    &__item {
      font-size: 14px;
      line-height: 16px;
      margin: 20px 0;
    }
  }

  .cubes-interface {
    padding: 61px 15px 204px;
    background: linear-gradient(180deg, #FFFFFF 72.15%, #0A0623 100%);
    &__description {
      max-width: inherit;
    }
  }

  .cubes-fonts {
    background: url("../assets/images/png/FontsBackground.png") no-repeat 50% 50%/cover;
    padding: 1px 0 0;


    &__gallery {
      transform: translateY(-21%);
      margin-top: -86px;
    }
    &__hand {
      width: 161px;
      position: absolute;
      top: -24%;
      right: -2%;
      &_finger {
        width: 92px;
      }
    }
    &__element {
      margin: 0 5px;
    }
    &__screen {
      width: 100%;
      max-width: 124px;
    }

    &__box {
      max-width: 720px;
      margin: 0 auto 0;
      padding: 0 15px;
    }

    &__example {
      display: block;

      margin: 0;
    }
    &__font {
      position: relative;
      font-size: 24px;
      line-height: 28px;

      margin-top: 35px;
      &::before {
        background: url("../assets/images/svg/mini/FontImage.svg") no-repeat 50% 50%;
        width: 233px;
        height: 138px;

        top: 235%;
        bottom: -229%;
        left: -25.4%;
      }
    }

    &__colors {
      max-width: 242px;
      margin: 15px 0 0 auto;
      transform: translateY(14%);
    }
    &__color {
      max-width: 54px;
      margin: 0 3px;
    }

    &__cube {
      &_left {
        width: 10.625vw;
        left: -6%;
        top: -12%;
      }
      &_middle {
        width: 11.563vw;
        right: 45%;
        top: 44%;
      }
      &_back {
        width: 5.625vw;
        right: 43%;
        top: 10%;
      }
      &_right {
        width: 8.125vw;
        right: -5%;
        top: 38%;
      }
    }
  }

  .cubes-capabilities {
    padding: 80px 15px 74px;
    &__description {
      max-width: 1024px;
      width: 100%;
    }

    &__cards {
      display: block;
      max-width: inherit;
      margin: 50px auto 0;
      padding: 0 15px;
    }
    &__item {
      margin-bottom: 4px;
      &:nth-child(2n) {
        .cubes-capabilities {
          &__drop {
            top: auto;
            bottom: auto;
            transform: translate(0%, 0%);
          }
          &__data {
            border: none;
            &::after {
              top: auto;
              bottom: -21px;
            }
          }
        }
      }
      &:nth-child(4) {
        .cubes-capabilities__info {
          width: 100%;
          max-width: inherit;
        }
      }
    }
    &__drop {
      width: 100%;
      position: inherit;
      top: auto;
      right: auto;
      transform: translate(0%, 0%);
      border-bottom: 1px solid $uniqueColor;
    }
    &__data {
      border-bottom: none;
    }

    &__num {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: 0rem;
    }
    &__title {
      font-size: 14px;
      line-height: 21px;
      max-width: inherit;
      width: 100%;
    }
    &__text {
      font-size: 10px;
      line-height: 15px;
      margin-top: 3px;
    }

    &__image {
      max-width: 65px;
      margin: 35px auto 0;
    }
  }

  .cubes-skin {
    position: relative;

    padding: 60px 0 60px;
    box-sizing: border-box;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    &::before {
      background: url("../assets/images/png/mini/SkinGrid.png") no-repeat 50% 50%/cover;
      width: 202px;
      height: 112px;

      top: 7%;
    }
    &__box {
      padding: 0 15px;
    }
    .cubes-description__heading {
      margin: 39px 0 13px;
    }
    .cubes-description__text {
      max-width: inherit;
    }
    &__table {
      margin-top: 61px;
    }
    &__item {
      padding: 13px 0;
      max-width: 96px;
      max-height: 36px;
    }
    &__image {
      max-width: 70px;
    }
  }

  .cubes-technologies {
    padding: 62px 15px 61px;
    overflow: inherit;
    &__image {
      width: 326px;
      margin: 31px auto 0;
      transform: translateX(-7%);
    }
    &__cube {
      &_center {
        width: 65px;
        top: 97%;
        right: -7%;
      }
      &_left {
        width: 82px;
        top: 70%;
        left: -1%;
      }
      &_back {
        display: none;
      }
      &_right {
        width: 56px;
        top: -121%;
        right: -5%;
        z-index: 10;
      }
    }
  }

  .cubes-reviews {
    padding: 61px 15px 69px;
    &__box {
      position: relative;
    }
    &__description {
      max-width: inherit;
    }
    &__image {
      display: none;
    }
  }

  .cubes-footer {
    padding: 63px 15px 100px;
    &__box {
      position: relative;
      z-index: 0;
    }
    &__cube {
      position: absolute;
      z-index: 10;
      &_top {
        width: 118px;
        top: -30%;
        right: -17%;
      }
      &_middle {
        width: 95px;
        top: -24%;
        right: 88%;
      }
      &_back {
        width: 76px;
        top: 68%;
        right: -13%;
      }
      &_bottom {
        width: 281px;
        top: 96%;
        right: 1%;
      }
    }
    &__description {
      max-width: 1013px;
      width: 100%;
    }
    .cubes-description__heading {
      margin: 31px 0;
    }
    .cubes-description__text {
      line-height: 26px;
    }
    &__contacts {
      margin: 0 0 31px;
    }
    &__link {
      display: block;
      font-size: 0;
      text-decoration: none;
      margin-right: 0;
      margin-top: 13px;
    }
    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 26px;
      margin-right: 7px;
    }
    &__address {
      font-size: 14px;
      line-height: 16px;
      vertical-align: middle;
    }
  }
}