/*
  FONT WEIGHT TABLE

  100: Thin (Hairline)
  200: Extra Light (Ultra Light)
  300: Light
  400: Regular
  500: Medium
  600: Semi Bold (Demi Bold)
  700: Bold
  800: Extra Bold (Ultra Bold)
  900: Black (Heavy)
 */
@font-face {
  font-family: "Ubuntu Medium";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("opentype");
}
@font-face {
  font-family: "Ubuntu Bold";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("opentype");
}
.cubes-img_box {
  font-size: 0;
}
.cubes-img_box img {
  width: 100%;
}

.cubes-section_box {
  max-width: 1678px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.cubes-description__name {
  font-size: 18px;
  color: #666666;
  line-height: 27px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
}
.cubes-description__name_light {
  color: #C0C0C0;
}
.cubes-description__heading {
  font-size: 36px;
  color: #212EB4;
  line-height: 34px;
  font-weight: 700;
  font-family: "Ubuntu Bold";
  margin: 61px 0 21px;
}
.cubes-description__heading_light {
  font-size: 34px;
  color: #fff;
  line-height: 51px;
  font-weight: 700;
  font-family: "Ubuntu Bold";
  letter-spacing: -0.01em;
  margin: 50px 0 13px;
}
.cubes-description__text {
  font-size: 18px;
  color: #2A3240;
  line-height: 27px;
  font-weight: 400;
  font-family: "Ubuntu";
  margin: 0;
}
.cubes-description__text_light {
  color: #fff;
}

.cubes-button {
  font-size: 18px;
  color: #212EB4;
  line-height: 30px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
  padding: 22px 88px;
  background: none;
  border: 1px solid #212EB4;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}
.cubes-button:hover {
  background: #212EB4;
  color: #fff;
  transition: 0.7s;
}

body {
  margin: 0;
}

.cubes-wrapper {
  background: linear-gradient(91deg, #FFD7F4 3.92%, #D1E2FF 87.51%);
  min-height: 100vh;
  overflow: hidden;
}

.cubes-header {
  position: relative;
  height: 42.1vw;
}
.cubes-header__image {
  position: absolute;
  top: 0.4%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.cubes-header__image_mini {
  display: none;
}
.cubes-header__image_laptop {
  display: none;
}
.cubes-header__cube {
  position: absolute;
  z-index: 10;
}
.cubes-header__cube_left {
  top: 6%;
  left: -5%;
}
.cubes-header__cube_right {
  top: 25%;
  right: -3%;
}

.cubes-about {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  padding: 93px 0 83px;
}
.cubes-about__box {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}
.cubes-about__figures {
  position: relative;
  max-width: 833px;
  width: 100%;
  min-height: 335px;
  margin: 0 auto;
}
.cubes-about__image {
  width: 1455px;
  position: absolute;
  top: 9%;
  right: -42%;
  z-index: 10;
}
.cubes-about__image_mini {
  display: none;
}
.cubes-about__image_laptop {
  display: none;
}
.cubes-about__cube {
  position: absolute;
  z-index: 15;
}
.cubes-about__cube_left {
  top: 40%;
  right: 70%;
  z-index: 5;
}
.cubes-about__cube_middle {
  top: 21%;
  right: 29%;
}
.cubes-about__cube_right {
  top: 35%;
  right: -16%;
}
.cubes-about__description {
  max-width: 785px;
  width: 100%;
}
.cubes-about__list {
  margin: 29px 0 0;
  padding: 0;
  list-style: none;
}
.cubes-about__item {
  font-size: 18px;
  color: #2A3240;
  line-height: 21px;
  font-weight: 400;
  font-family: "Ubuntu";
  margin: 16px 0;
  padding-left: 25px;
  position: relative;
}
.cubes-about__item::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 5px solid #212EB4;
  border-radius: 50%;
  position: absolute;
  top: 16%;
  left: 0;
}

.cubes-interface {
  padding: 104px 0 250px;
  background: linear-gradient(180deg, #FFFFFF 72.15%, #0A0623 100%);
}
.cubes-interface__description {
  max-width: 821px;
  width: 100%;
}

.cubes-fonts {
  background: url("../assets/images/png/FontsBackground.png") no-repeat 50% 50%/cover;
  padding: 0;
}
.cubes-fonts__gallery {
  position: relative;
  z-index: 0;
  transform: translateY(-26%);
  margin-top: -15px;
}
.cubes-fonts__hand {
  position: absolute;
  top: -36%;
  right: -1%;
  z-index: -1;
}
.cubes-fonts__hand_finger {
  z-index: 1;
}
.cubes-fonts__carousel {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.cubes-fonts__element {
  margin: 0 8px;
}
.cubes-fonts__screen {
  max-width: 236px;
  width: 100%;
}
.cubes-fonts__box {
  position: relative;
  max-width: 1751px;
  width: 100%;
  margin: 0 54px 0 auto;
  padding: 0 35px;
  box-sizing: border-box;
}
.cubes-fonts__description {
  max-width: 910px;
  width: 100%;
}
.cubes-fonts__example {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 33px 0 0;
}
.cubes-fonts__font {
  font-size: 68px;
  color: #fff;
  line-height: 78px;
  font-weight: 700;
  font-family: "Ubuntu Bold";
  max-width: 780px;
  width: 100%;
  position: relative;
  z-index: 0;
}
.cubes-fonts__font::before {
  content: "";
  background: url("../assets/images/svg/FontImage.svg") no-repeat 50% 50%;
  width: 579px;
  height: 341px;
  position: absolute;
  top: -56%;
  left: -43.4%;
  z-index: -1;
}
.cubes-fonts__colors {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  max-width: 831px;
  width: 100%;
  transform: translateY(3%);
}
.cubes-fonts__color {
  max-width: 168px;
  width: 100%;
  margin: 0 21px;
  transform: translateY(50%);
  box-shadow: -4px 31px 40px rgba(26, 26, 33, 0.3);
  border-radius: 3px;
}
.cubes-fonts__color:last-child {
  margin-right: 0;
}
.cubes-fonts__animate {
  transform: translateY(0%);
  transition: 3s;
}
.cubes-fonts__animate:nth-child(2) {
  transition: 4s;
}
.cubes-fonts__animate:nth-child(3) {
  transition: 5s;
}
.cubes-fonts__animate:nth-child(4) {
  transition: 6s;
}
.cubes-fonts__cube {
  position: absolute;
  z-index: 10;
}
.cubes-fonts__cube_left {
  width: 5.938vw;
  top: -8%;
  left: -3%;
}
.cubes-fonts__cube_middle {
  width: 6.406vw;
  top: 37%;
  right: 51%;
}
.cubes-fonts__cube_back {
  width: 5.208vw;
  top: 5%;
  right: 38%;
}
.cubes-fonts__cube_right {
  width: 3.229vw;
  top: 34%;
  right: 0%;
}

.cubes-capabilities {
  background: #fff;
  padding: 110px 0;
  position: relative;
  z-index: 0;
}
.cubes-capabilities__description {
  max-width: 1024px;
  width: 100%;
}
.cubes-capabilities__cards {
  display: flex;
  justify-content: space-between;
  max-width: 1390px;
  width: 100%;
  margin: 335px auto 0;
  padding: 0 100px 240px;
  box-sizing: border-box;
}
.cubes-capabilities__item {
  position: relative;
}
.cubes-capabilities__item:nth-child(2n) .cubes-capabilities__drop {
  top: auto;
  bottom: -100%;
  transform: translate(50%, 51%);
}
.cubes-capabilities__item:nth-child(2n) .cubes-capabilities__data {
  border: none;
  border-top: 1px solid #212EB4;
}
.cubes-capabilities__item:nth-child(2n) .cubes-capabilities__data::after {
  top: -46px;
  right: 50%;
  bottom: auto;
  transform: translateX(-50%);
}
.cubes-capabilities__item:nth-child(4) .cubes-capabilities__info {
  width: max-content;
  max-width: 284px;
}
.cubes-capabilities__drop {
  position: absolute;
  top: -100%;
  right: 50%;
  transform: translate(50%, -47%);
}
.cubes-capabilities__data {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 0px;
  border-bottom: 1px solid #212EB4;
  font-size: 0;
}
.cubes-capabilities__data::after {
  content: "";
  position: absolute;
  bottom: -46px;
  right: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1px;
  height: 46px;
  margin: 0 auto;
  background: #212EB4;
}
.cubes-capabilities__num {
  font-size: 104px;
  color: #212EB4;
  line-height: 104px;
  font-weight: 900;
  font-family: "Ubuntu";
  letter-spacing: -0.5rem;
  flex-shrink: 0;
}
.cubes-capabilities__info {
  margin-left: 15px;
}
.cubes-capabilities__title {
  font-size: 20px;
  color: #2A3240;
  line-height: 30px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
  margin: 0;
  max-width: 271px;
  width: max-content;
}
.cubes-capabilities__text {
  font-size: 16px;
  color: #2A3240;
  line-height: 24px;
  font-weight: 400;
  font-family: "Ubuntu";
  margin-top: 7px;
}
.cubes-capabilities__image {
  max-width: 153px;
  filter: drop-shadow(-4px 31px 40px rgba(26, 26, 33, 0.3));
}
.cubes-capabilities__image img {
  width: auto;
}

.cubes-skin {
  position: relative;
  padding: 145px 0 176px;
  mix-blend-mode: normal;
  backdrop-filter: blur(15px);
}
.cubes-skin::before {
  content: "";
  background: url("../assets/images/png/SkinGrid.png") no-repeat 50% 50%/cover;
  width: 429px;
  height: 224px;
  position: absolute;
  top: 12%;
  left: 0;
}
.cubes-skin__box {
  max-width: 1690px;
  padding: 0 35px;
  box-sizing: border-box;
}
.cubes-skin .cubes-description__text {
  max-width: 783px;
  width: 100%;
}
.cubes-skin__table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 89px;
}
.cubes-skin__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 13px 0;
  border: 1px solid #B1BDD6;
  max-width: 270px;
  width: 100%;
  max-height: 149px;
  margin: -1px;
}

.cubes-technologies {
  background: url("../assets/images/png/TechnologiesBackground.png") no-repeat 50% 50%/cover;
  padding: 130px 0 97px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.cubes-technologies__description {
  max-width: 781px;
}
.cubes-technologies__image {
  position: relative;
  max-width: 846px;
  width: 100%;
  margin: 21px auto 0;
  transform: translateX(-4%);
}
.cubes-technologies__cube {
  position: absolute;
  z-index: 10;
}
.cubes-technologies__cube_left {
  width: 162px;
  top: 41%;
  left: -19%;
  z-index: -1;
}
.cubes-technologies__cube_center {
  width: 213px;
  top: 61%;
  right: 76%;
}
.cubes-technologies__cube_back {
  width: 161px;
  top: -5%;
  right: -18%;
}
.cubes-technologies__cube_right {
  width: 350px;
  top: -27%;
  right: -79%;
  z-index: -1;
}

.cubes-reviews {
  padding: 164px 0 170px;
}
.cubes-reviews__description {
  max-width: 1013px;
  width: 100%;
  position: relative;
}
.cubes-reviews__image {
  max-width: 796px;
  width: 100%;
  position: absolute;
  top: -92%;
  right: -70%;
}

.cubes-footer {
  padding: 113px 0;
  background: #FFFFFF;
}
.cubes-footer__box {
  max-width: 1665px;
}
.cubes-footer__description {
  max-width: 1013px;
  width: 100%;
  position: relative;
}
.cubes-footer .cubes-description__heading {
  margin: 62px 0 21px;
}
.cubes-footer__contacts {
  margin: 56px 0 35px;
}
.cubes-footer__link {
  display: inline-block;
  font-size: 0;
  text-decoration: none;
  margin-right: 91px;
}
.cubes-footer__link:last-child {
  margin-right: 0;
}
.cubes-footer__icon {
  display: inline-block;
  vertical-align: middle;
  width: 47px;
  margin-right: 21px;
}
.cubes-footer__address {
  font-size: 24px;
  color: #212EB4;
  line-height: 40px;
  font-weight: 500;
  font-family: "Ubuntu Medium";
  vertical-align: middle;
}
.cubes-footer__cube {
  position: absolute;
  z-index: 10;
}
.cubes-footer__cube_top {
  top: -56%;
  right: -40%;
}
.cubes-footer__cube_middle {
  top: -6%;
  right: -25%;
}
.cubes-footer__cube_back {
  top: 17%;
  right: -40%;
}
.cubes-footer__cube_bottom {
  top: 47%;
  right: -57%;
}

@media screen and (max-width: 1024px) {
  .cubes-section_box {
    max-width: 720px;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .cubes-description__name {
    font-size: 16px;
    line-height: 24px;
  }
  .cubes-description__heading {
    font-size: 24px;
    line-height: 36px;
    margin: 30px 0 10px;
  }
  .cubes-description__heading_light {
    font-size: 24px;
    line-height: 36px;
    margin: 30px 0 10px;
  }
  .cubes-description__text {
    font-size: 16px;
    line-height: 24px;
  }

  .cubes-button {
    font-size: 17px;
    line-height: 27px;
    padding: 13px 71px;
  }
  .cubes-button:hover {
    background: none;
    color: #212EB4;
  }

  .cubes-header {
    height: 57.1vw;
  }
  .cubes-header__image {
    display: none;
  }
  .cubes-header__image_laptop {
    display: block;
    top: 0.1%;
  }
  .cubes-header__cube {
    position: absolute;
    z-index: 10;
  }
  .cubes-header__cube_left {
    width: 93px;
    top: 10%;
    left: -5%;
  }
  .cubes-header__cube_right {
    width: 68px;
    top: 20%;
    right: -2%;
  }

  .cubes-about {
    padding: 65px 0 10px;
  }
  .cubes-about__figures {
    max-width: 833px;
    width: 100%;
    min-height: 220px;
    margin: 70px auto 0;
  }
  .cubes-about__image {
    display: none;
  }
  .cubes-about__image_laptop {
    display: block;
    width: 974px;
    transform: translateX(-29.9%);
    top: -7%;
    right: -17%;
    position: inherit;
  }
  .cubes-about__cube {
    display: none;
  }
  .cubes-about__item {
    font-size: 16px;
    line-height: 18px;
    margin: 20px 0;
  }

  .cubes-interface {
    padding: 65px 0 243px;
    background: linear-gradient(180deg, #FFFFFF 72.15%, #0A0623 100%);
  }
  .cubes-interface__description {
    max-width: inherit;
  }

  .cubes-fonts {
    padding: 1px 0 0;
  }
  .cubes-fonts__gallery {
    transform: translateY(-21%);
    margin-top: -69px;
  }
  .cubes-fonts__hand {
    width: 223px;
    position: absolute;
    top: -35%;
    right: 0%;
    z-index: -1;
  }
  .cubes-fonts__hand_finger {
    width: 127px;
    z-index: 1;
  }
  .cubes-fonts__carousel {
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  .cubes-fonts__element {
    margin: 0 4px;
  }
  .cubes-fonts__screen {
    width: 100%;
    max-width: 136px;
  }
  .cubes-fonts__box {
    max-width: 720px;
    margin: 0 auto 0;
    padding: 0 20px 0 30px;
  }
  .cubes-fonts__example {
    display: block;
    margin: 0;
  }
  .cubes-fonts__font {
    font-size: 36px;
    line-height: 41px;
    max-width: inherit;
    margin-top: 66px;
  }
  .cubes-fonts__font::before {
    top: 17%;
    left: -37%;
  }
  .cubes-fonts__colors {
    max-width: 390px;
    margin: 62px 0 0 auto;
    transform: translateY(9%);
  }
  .cubes-fonts__color {
    max-width: 77px;
    margin: 0 10px;
  }
  .cubes-fonts__cube_left {
    width: 6.25vw;
    top: -15px;
    left: -4%;
  }
  .cubes-fonts__cube_middle {
    width: 7.422vw;
    top: 38%;
    right: 51%;
  }
  .cubes-fonts__cube_back {
    width: 5.99vw;
    top: 6%;
    right: 38%;
  }
  .cubes-fonts__cube_right {
    width: 5.99vw;
    top: 34%;
    right: 0;
  }

  .cubes-capabilities {
    background: linear-gradient(91deg, #FFD7F4 3.92%, #D1E2FF 87.51%);
    padding: 94px 0 85px;
  }
  .cubes-capabilities__description {
    max-width: 1024px;
    width: 100%;
  }
  .cubes-capabilities__cards {
    max-width: inherit;
    margin: 163px auto 0;
    padding: 0 64px 85px;
  }
  .cubes-capabilities__item:nth-child(2n) .cubes-capabilities__drop {
    bottom: -100%;
    transform: translate(50%, 39%);
  }
  .cubes-capabilities__item:nth-child(2n) .cubes-capabilities__data::after {
    top: -21px;
  }
  .cubes-capabilities__item:nth-child(4) .cubes-capabilities__info {
    width: max-content;
    max-width: 163px;
  }
  .cubes-capabilities__drop {
    top: -100%;
    transform: translate(50%, -40%);
  }
  .cubes-capabilities__data {
    padding: 10px 0px;
  }
  .cubes-capabilities__data::after {
    bottom: -21px;
    height: 21px;
  }
  .cubes-capabilities__num {
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0rem;
  }
  .cubes-capabilities__info {
    margin-left: 5px;
  }
  .cubes-capabilities__title {
    font-size: 12px;
    line-height: 18px;
    max-width: 163px;
  }
  .cubes-capabilities__text {
    font-size: 10px;
    line-height: 15px;
    margin-top: 2px;
  }
  .cubes-capabilities__image {
    max-width: 70px;
    width: 100%;
  }
  .cubes-capabilities__image img {
    width: 100%;
  }

  .cubes-skin {
    position: relative;
    padding: 60px 0 68px;
    background: linear-gradient(61.39deg, #FFD7F4 3.92%, #D1E2FF 87.51%), #EADDF9;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
  }
  .cubes-skin::before {
    width: 229px;
    height: 126px;
    top: 28%;
  }
  .cubes-skin .cubes-description__text {
    max-width: inherit;
  }
  .cubes-skin__table {
    margin-top: 67px;
  }
  .cubes-skin__item {
    padding: 13px 0;
    max-width: 110px;
    width: 100%;
    max-height: 45px;
  }
  .cubes-skin__image {
    max-width: 78px;
    width: 100%;
  }
  .cubes-skin__image img {
    width: 100%;
  }

  .cubes-technologies {
    padding: 65px 0 35px;
    z-index: 0;
  }
  .cubes-technologies__image {
    max-width: 500px;
    width: 100%;
    margin: 65px auto 0;
  }
  .cubes-technologies__cube_left {
    width: 123px;
    top: 3%;
    left: -35%;
    z-index: 1;
  }
  .cubes-technologies__cube_center {
    width: 101px;
    top: 65%;
    right: 74%;
  }
  .cubes-technologies__cube_back {
    display: none;
  }
  .cubes-technologies__cube_right {
    width: 71px;
    top: -63%;
    right: -36%;
  }

  .cubes-reviews {
    padding: 65px 0 75px;
  }
  .cubes-reviews__description {
    max-width: inherit;
  }
  .cubes-reviews__image {
    display: none;
  }

  .cubes-footer {
    padding: 64px 0 64px;
  }
  .cubes-footer__cube_top {
    width: 184px;
    top: 3%;
    right: -54%;
  }
  .cubes-footer__cube_middle {
    width: 170px;
    top: 37%;
    right: -31%;
  }
  .cubes-footer__cube_back {
    width: 112px;
    top: 50%;
    right: -53%;
  }
  .cubes-footer__cube_bottom {
    width: 434px;
    top: 70%;
    right: -74%;
  }
  .cubes-footer__description {
    max-width: 444px;
  }
  .cubes-footer .cubes-description__heading {
    margin: 32px 0 31px;
  }
  .cubes-footer__contacts {
    margin: 30px 0 30px;
  }
  .cubes-footer__link {
    margin-right: 61px;
  }
  .cubes-footer__icon {
    width: 35px;
    margin-right: 15px;
  }
  .cubes-footer__address {
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (max-width: 425px) {
  .cubes-section_box {
    max-width: 1618px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .cubes-description__name {
    font-size: 14px;
    line-height: 21px;
  }
  .cubes-description__heading {
    font-size: 18px;
    line-height: 25px;
    margin: 29px 0 14px;
  }
  .cubes-description__heading_light {
    font-size: 18px;
    line-height: 27px;
    margin: 29px 0 11px;
  }
  .cubes-description__text {
    font-size: 14px;
    line-height: 21px;
  }

  .cubes-button {
    font-size: 15px;
    line-height: 16px;
    padding: 18px 0;
    text-align: center;
    width: 100%;
  }

  body {
    margin: 0;
  }

  .cubes-header {
    height: 69.1vw;
  }
  .cubes-header__image {
    display: none;
  }
  .cubes-header__image_mini {
    display: block;
    top: -86%;
    right: -78%;
    bottom: 0;
    left: -82%;
  }
  .cubes-header__cube {
    display: none;
  }

  .cubes-about {
    padding: 62px 15px 40px;
  }
  .cubes-about__figures {
    max-width: 290px;
    min-height: 140px;
    margin: 0 auto 0;
  }
  .cubes-about__image {
    display: none;
  }
  .cubes-about__image img {
    width: 100%;
  }
  .cubes-about__image_mini {
    display: block;
    width: 620px;
    top: auto;
    bottom: -36%;
    left: -62%;
  }
  .cubes-about__image_laptop {
    display: none;
  }
  .cubes-about__description {
    max-width: inherit;
  }
  .cubes-about__list {
    margin: 29px 0 0;
  }
  .cubes-about__item {
    font-size: 14px;
    line-height: 16px;
    margin: 20px 0;
  }

  .cubes-interface {
    padding: 61px 15px 204px;
    background: linear-gradient(180deg, #FFFFFF 72.15%, #0A0623 100%);
  }
  .cubes-interface__description {
    max-width: inherit;
  }

  .cubes-fonts {
    background: url("../assets/images/png/FontsBackground.png") no-repeat 50% 50%/cover;
    padding: 1px 0 0;
  }
  .cubes-fonts__gallery {
    transform: translateY(-21%);
    margin-top: -86px;
  }
  .cubes-fonts__hand {
    width: 161px;
    position: absolute;
    top: -24%;
    right: -2%;
  }
  .cubes-fonts__hand_finger {
    width: 92px;
  }
  .cubes-fonts__element {
    margin: 0 3px;
  }
  .cubes-fonts__screen {
    width: 100%;
    max-width: 124px;
  }
  .cubes-fonts__box {
    max-width: 720px;
    margin: 0 auto 0;
    padding: 0 15px;
  }
  .cubes-fonts__example {
    display: block;
    margin: 0;
  }
  .cubes-fonts__font {
    position: relative;
    font-size: 24px;
    line-height: 28px;
    margin-top: 35px;
  }
  .cubes-fonts__font::before {
    background: url("../assets/images/svg/mini/FontImage.svg") no-repeat 50% 50%;
    width: 233px;
    height: 138px;
    top: 235%;
    bottom: -229%;
    left: -25.4%;
  }
  .cubes-fonts__colors {
    max-width: 242px;
    margin: 15px 0 0 auto;
    transform: translateY(14%);
  }
  .cubes-fonts__color {
    max-width: 54px;
    margin: 0 3px;
  }
  .cubes-fonts__cube_left {
    width: 10.625vw;
    left: -6%;
    top: -12%;
  }
  .cubes-fonts__cube_middle {
    width: 11.563vw;
    right: 45%;
    top: 44%;
  }
  .cubes-fonts__cube_back {
    width: 5.625vw;
    right: 43%;
    top: 10%;
  }
  .cubes-fonts__cube_right {
    width: 8.125vw;
    right: -5%;
    top: 38%;
  }

  .cubes-capabilities {
    padding: 80px 15px 74px;
  }
  .cubes-capabilities__description {
    max-width: 1024px;
    width: 100%;
  }
  .cubes-capabilities__cards {
    display: block;
    max-width: inherit;
    margin: 50px auto 0;
    padding: 0 15px;
  }
  .cubes-capabilities__item {
    margin-bottom: 4px;
  }
  .cubes-capabilities__item:nth-child(2n) .cubes-capabilities__drop {
    top: auto;
    bottom: auto;
    transform: translate(0%, 0%);
  }
  .cubes-capabilities__item:nth-child(2n) .cubes-capabilities__data {
    border: none;
  }
  .cubes-capabilities__item:nth-child(2n) .cubes-capabilities__data::after {
    top: auto;
    bottom: -21px;
  }
  .cubes-capabilities__item:nth-child(4) .cubes-capabilities__info {
    width: 100%;
    max-width: inherit;
  }
  .cubes-capabilities__drop {
    width: 100%;
    position: inherit;
    top: auto;
    right: auto;
    transform: translate(0%, 0%);
    border-bottom: 1px solid #212EB4;
  }
  .cubes-capabilities__data {
    border-bottom: none;
  }
  .cubes-capabilities__num {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0rem;
  }
  .cubes-capabilities__title {
    font-size: 14px;
    line-height: 21px;
    max-width: inherit;
    width: 100%;
  }
  .cubes-capabilities__text {
    font-size: 10px;
    line-height: 15px;
    margin-top: 3px;
  }
  .cubes-capabilities__image {
    max-width: 65px;
    margin: 35px auto 0;
  }

  .cubes-skin {
    position: relative;
    padding: 60px 0 60px;
    box-sizing: border-box;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
  }
  .cubes-skin::before {
    background: url("../assets/images/png/mini/SkinGrid.png") no-repeat 50% 50%/cover;
    width: 202px;
    height: 112px;
    top: 7%;
  }
  .cubes-skin__box {
    padding: 0 15px;
  }
  .cubes-skin .cubes-description__heading {
    margin: 39px 0 13px;
  }
  .cubes-skin .cubes-description__text {
    max-width: inherit;
  }
  .cubes-skin__table {
    margin-top: 61px;
  }
  .cubes-skin__item {
    padding: 13px 0;
    max-width: 96px;
    max-height: 36px;
  }
  .cubes-skin__image {
    max-width: 70px;
  }

  .cubes-technologies {
    padding: 62px 15px 61px;
    overflow: inherit;
  }
  .cubes-technologies__image {
    width: 326px;
    margin: 31px auto 0;
    transform: translateX(-7%);
  }
  .cubes-technologies__cube_center {
    width: 65px;
    top: 97%;
    right: -7%;
  }
  .cubes-technologies__cube_left {
    width: 82px;
    top: 70%;
    left: -1%;
  }
  .cubes-technologies__cube_back {
    display: none;
  }
  .cubes-technologies__cube_right {
    width: 56px;
    top: -121%;
    right: -5%;
    z-index: 10;
  }

  .cubes-reviews {
    padding: 61px 15px 69px;
  }
  .cubes-reviews__box {
    position: relative;
  }
  .cubes-reviews__description {
    max-width: inherit;
  }
  .cubes-reviews__image {
    display: none;
  }

  .cubes-footer {
    padding: 63px 15px 100px;
  }
  .cubes-footer__box {
    position: relative;
    z-index: 0;
  }
  .cubes-footer__cube {
    position: absolute;
    z-index: 10;
  }
  .cubes-footer__cube_top {
    width: 118px;
    top: -30%;
    right: -17%;
  }
  .cubes-footer__cube_middle {
    width: 95px;
    top: -24%;
    right: 88%;
  }
  .cubes-footer__cube_back {
    width: 76px;
    top: 68%;
    right: -13%;
  }
  .cubes-footer__cube_bottom {
    width: 281px;
    top: 96%;
    right: 1%;
  }
  .cubes-footer__description {
    max-width: 1013px;
    width: 100%;
  }
  .cubes-footer .cubes-description__heading {
    margin: 31px 0;
  }
  .cubes-footer .cubes-description__text {
    line-height: 26px;
  }
  .cubes-footer__contacts {
    margin: 0 0 31px;
  }
  .cubes-footer__link {
    display: block;
    font-size: 0;
    text-decoration: none;
    margin-right: 0;
    margin-top: 13px;
  }
  .cubes-footer__icon {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    margin-right: 7px;
  }
  .cubes-footer__address {
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
  }
}